form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
}

.main-ul {
  margin-right: 130px;
  margin-bottom: 15px;
}

.date-fieldset {
  border: none;
}

.date-fieldset-legend {
  margin-top: 10px;
  margin-bottom: 5px;
}
